.roulette-pro-regular-prize-item-wrapper {
	border: none !important;
	background-color: none !important;
	background: none !important;
}
.roulette-pro-regular-image-wrapper {
	height: 100px !important;
}
.roulette-pro-regular-design-prize-item-horizontal {
	.roulette-pro-regular-prize-item {
		width: 102px !important;
		height: 100px !important;
		padding: 0px 1px !important;
	}
}
// .roulette-pro-wrapper{
//     .roulette-pro-regular-design-top{
//         background: red;
//     }
// }
