.roulette-pro-regular-prize-item-wrapper {
	border: none !important;
	background-color: none !important;
	background: none !important;
}
// .roulette-pro-regular-image-wrapper {
// 	height: 100px !important;
// }
// .roulette-pro-regular-design-prize-item-horizontal {
// 	.roulette-pro-regular-prize-item {
// 		width: 100px !important;
// 		height: 100px !important;
// 	}
// }
// .roulette-pro-wrapper{
//     .roulette-pro-regular-design-top{
//         background: red;
//     }
// }
.roll {
	.roulette-wrap {
		height: 100px;
		.roulette-list-wrap {
			// width: 100px;
			height: 100px;
			// left: -20613.5px;
		}
		.prize-item-roulette {
			// width: 100px;
			height: 100px;
			.roulette-pro-regular-prize-item {
				img {
					width: 100px;
					height: 100px;
				}
			}
		}
	}
}
