//----------- BASE COLORS --------------------
$bg-black: #121c23;
$text-input: #222e36;
$brdr-black: #18262f;
$white: #ffffff;
$green: #01fe86;
$light-blue: #bfd1ea;
$light-black: #586a84;
$table-even-bg: #16222b;
$body-black: #0e131b;
$white: #ffffff;
$bg-card: #1c2932;
$gray: #5b6c79;
$brdr-card: #243742;
$brdr: #293c48;
$off-white: #d3e0e9;
$red: #cd2a2a;
$success: #3bb369;
$orange: #e97f40;
$cream: #fdf5f0;
$black: #212121;
$mine-shaft: #313131;
$dark-gray: #515151;
$lite-gray: #919191;
$green: #92d050;
$fields-border-color: #c5c6cc;
$navbar-shadow: 0px 0px 18px 4px rgba(0, 0, 0, 0.07);
$box-shadow: 0px 0px 18px 4px rgba(0, 0, 0, 0.05);
$bg-gray: #f5f5f5;
$danger: #bf160b;

//----------- Table Color ---------------------

// $red: #da4123;
